@charset "UTF-8";
#files {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #131313;
  padding: 5px;
}
#files .fileblock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #33323d;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
  cursor: pointer;
}
#files .fileblock .icon {
  font-size: 2.7rem;
}
#files .fileblock p {
  width: 100%;
  font-size: 0.9rem;
  margin: 0;
  word-wrap: break-word;
  line-height: 0.8rem;
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Chrome, Safari, Opéra depuis la version 15 */
  -ms-user-select: none;
  /* Internet explorer depuis la version 10 et Edge */
  user-select: none;
  /* Propriété standard */
}
#files .fileblock .filecheck {
  position: absolute;
  font-size: 1.5rem;
  top: 3px;
  right: 3px;
}
#files .fileblock:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-tar:before, #files .type-zip:before, #files .type-rar:before, #files .type-iso:before, #files .type-7z:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-bmp:before, #files .type-jpg:before, #files .type-png:before, #files .type-jpeg:before, #files .type-gif:before, #files .type-tiff:before, #files .type-eps:before, #files .type-psd:before, #files .type-ai:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-txt:before, #files .type-rtf:before, #files .type-text:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-mp3:before, #files .type-wav:before, #files .type-ogg:before, #files .type-wma:before, #files .type-flac:before, #files .type-aiff:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-js:before, #files .type-html:before, #files .type-css:before, #files .type-scss:before, #files .type-php:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-mp4:before, #files .type-avi:before, #files .type-mov:before, #files .type-wmv:before, #files .type-webm:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-xml:before, #files .type-xls:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-doc:before, #files .type-docx:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-pdf:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}
#files .type-pptx:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 2.3rem;
}

:root {
  --font-principal: "Baloo Chettan 2";
  --color-principal: #30323D;
  --color-secondary: #4D5061;
  --color-three: #5C80BC;
  --color-text: #fff;
  --font-size-icone: 0.80rem;
  --font-size-title: 3rem;
}

.button-back {
  color: var(--color-text);
  font-size: 2.5rem;
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#navigation button {
  height: 30px;
  border-radius: 10px;
  border: none;
  color: var(--color-principal);
  margin-bottom: 20px;
}
#navigation .dropdown-menu {
  font-size: 0.85rem;
}
#navigation .dropdown-menu .dropdown-item {
  color: var(--color-principal);
}
#navigation .dropdown-menu a:hover {
  color: var(--color-three);
}
#navigation .dropdown-menu a:active {
  border: none;
}
#navigation .breadcrumb {
  background-color: var(--color-secondary);
  color: var(--color-text);
}
#navigation .breadcrumb-item.active {
  color: var(--color-three);
  font-weight: 500;
}
#navigation li {
  font-family: var(--font-principal);
  font-weight: 400;
  color: var(--color-text);
  cursor: pointer;
}
#navigation li:hover, #navigation span:hover {
  color: var(--color-three);
  text-decoration: none;
}
#navigation .isHome:before {
  content: "";
  margin-right: 7px;
  font-family: "FontAwesome";
}

#actionsBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--font-size-icone);
  background-color: var(--color-principal);
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#actionsBar .flex {
  display: flex;
}
#actionsBar .column {
  flex-direction: column;
}
#actionsBar .between {
  justify-content: space-around;
  width: 16rem;
}
#actionsBar .btn {
  color: var(--color-secondary);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: 2px solid;
  margin-top: 1rem;
  font-family: var(--font-principal);
  padding-left: 10px;
}
#actionsBar p {
  text-align: center;
  color: var(--color-secondary);
}
#actionsBar p:hover {
  color: var(--color-text);
}
#actionsBar .btn-outline-secondary:hover {
  background-color: var(--color-three);
  color: var(--color-text);
}

body {
  font-family: var(--font-principal);
  font-weight: 400;
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-title);
}

.container {
  background-color: var(--color-secondary);
}

#files {
  background-color: var(--color-three);
  height: 15rem;
}
#files .fileblock {
  background-color: var(--color-principal);
}

/*# sourceMappingURL=style.css.map */
