@mixin file($code: "\f15b"){
    content: $code;
        font-family: "FontAwesome";
        font-size: 2.3rem;
}

#files{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    padding: 5px;
    .fileblock{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(51, 50, 61);
        color: white;
        text-align: center;
        padding: 5px;
        margin: 5px;
        width: 100px;
        height: 100px;
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
        cursor: pointer;
        .icon{
            font-size: 2.7rem;
        }
        p{
            width: 100%;
            font-size: 0.9rem;
            margin: 0;
            // overflow: hidden;
            word-wrap: break-word;
            line-height: 0.8rem;
        }
        .filecheck{
            position: absolute;
            font-size: 1.5rem;
            top:3px;
            right:3px;

        }
    }
    .fileblock:before {
        @include file;
    }
    .type-:before {
        @include file("\f07b");
    }
    .type-tar:before,.type-zip:before,.type-rar:before,.type-iso:before,.type-7z:before{
        @include file("\f1c6");
    }
    .type-bmp:before,.type-jpg:before,.type-png:before,.type-jpeg:before,.type-gif:before,.type-tiff:before,.type-eps:before,.type-psd:before,.type-ai:before{
        @include file("\f1c5");
    }
    .type-txt:before,.type-rtf:before,.type-text:before{
        @include file("\f15c");
    }
    .type-mp3:before,.type-wav:before,.type-ogg:before,.type-wma:before,.type-flac:before,.type-aiff:before{
        @include file("\f1c7");
    }
    .type-js:before,.type-html:before,.type-css:before,.type-scss:before,.type-php:before{
        @include file("\f1c9");
    }
    .type-mp4:before,.type-avi:before,.type-mov:before,.type-wmv:before,.type-webm:before{
        @include file("\f1c8");
    }
    .type-xml:before,.type-xls:before{
        @include file("\f1c3");
    }
    .type-doc:before,.type-docx:before{
        @include file("\f1c2");
    }
    .type-pdf:before{
        @include file("\f1c1");
    }
    .type-pptx:before{
        @include file("\f1c4");
    }
}